
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    --ff-primary: "Roboto", sans-serif;
}

* {
    font-family: var(--ff-primary);
    text-transform: capitalize;
    text-align: center;
}

/* .main {
  min-height: 75vh;
  display: grid;
  place-items: center;
  background-color: blue;
} */

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
}